json.json
{
  "Comment": "Historical SharePoint Data to Elasticsearch Indexing Pipeline",
  "StartAt": "ExtractAndSaveToS3",
  "States": {
    "ExtractAndSaveToS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:YOUR_REGION:YOUR_ACCOUNT_ID:cluster/streamlit-fargate-cluster",
        "TaskDefinition": "arn:aws:ecs:YOUR_REGION:YOUR_ACCOUNT_ID:task-definition/sharepoint-extractor-task:1", /* このタスク定義名を適切に設定すること */
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "sharepoint-extractor-container", /* Dockerfileで指定したコンテナ名ね */
              "Environment": [
                {
                  "Name": "START_DATE",
                  "Value.$": "$.startDate"
                },
                {
                  "Name": "END_DATE",
                  "Value.$": "$.endDate"
                },
                {
                  "Name": "DOMAIN_PASSWORD",
                  "Value": "YOUR_SHAREPOINT_DOMAIN_PASSWORD" /* 環境変数から取得するか、Secrets Managerから取得するようにする */
                },
                {
                  "Name": "SITE_URL",
                  "Value": "YOUR_SHAREPOINT_SITE_URL"
                },
                {
                  "Name": "DOMAIN",
                  "Value": "YOUR_SHAREPOINT_DOMAIN"
                },
                {
                  "Name": "LOGINNAME",
                  "Value": "YOUR_SHAREPOINT_LOGINNAME"
                },
                {
                  "Name": "LOGINPASSWORD",
                  "Value": "YOUR_SHAREPOINT_LOGINPASSWORD"
                },
                {
                  "Name": "BUCKET_NAME",
                  "Value": "YOUR_S3_BUCKET_NAME_FOR_REPORTS" /* 過去レポート保存用S3バケット名 */
                },
                {
                  "Name": "BEDROCK_SUMMARY_MODEL_ID",
                  "Value": "anthropic.claude-instant-v1"
                },
                {
                  "Name": "BEDROCK_EMBEDDING_MODEL_ID",
                  "Value": "amazon.titan-embed-text-v1"
                },
                {
                  "Name": "AWS_REGION",
                  "Value": "ap-northeast-1"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
                "subnet-priv-a", /* Fargateタスクを配置するプライベートサブネットIDを2つ以上 */
                "subnet-priv-b"
            ],
            "SecurityGroups": [
                "sg-sharepoint-extractor-task" /* このタスク用のSG ID */
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "ResultPath": "$.ExtractResult", /* 結果をInputに結合して次のステップに渡す */
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "IndexDataToElasticsearch"
    },
    "IndexDataToElasticsearch": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:YOUR_REGION:YOUR_ACCOUNT_ID:cluster/streamlit-fargate-cluster",
        "TaskDefinition": "arn:aws:ecs:YOUR_REGION:YOUR_ACCOUNT_ID:task-definition/s3-es-indexer-task:1", /* このタスク定義名を適切に設定すること */
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "s3-to-es-indexer-container", /* Dockerfileで指定したコンテナ名ね */
              "Environment": [
                {
                  "Name": "S3_BUCKET_NAME",
                  "Value": "YOUR_S3_BUCKET_NAME_FOR_REPORTS" /* 過去レポート保存用S3バケット名 */
                },
                {
                  "Name": "S3_OBJECT_KEY",
                  "Value.$": "$.ExtractResult.s3_output_key" /* 前のステップの出力からS3キーを受け取る */
                },
                {
                  "Name": "ELASTICSEARCH_HOST",
                  "Value": "YOUR_ONPREM_ELASTICSEARCH_HOST"
                },
                {
                  "Name": "ELASTICSEARCH_INDEX_NAME",
                  "Value": "YOUR_ELASTICSEARCH_INDEX_NAME"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": { /* Indexerタスクのネットワーク設定。Elasticsearchにアクセスできる必要あり */
          "AwsvpcConfiguration": {
            "Subnets": [
                "subnet-priv-a", /* Fargateタスクを配置するプライベートサブネットIDを2つ以上 */
                "subnet-priv-b"
            ],
            "SecurityGroups": [
                "sg-s3-es-indexer-task" /* このタスク用のSG ID */
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "ResultPath": "$.IndexResult",
      "Catch": [
        {
          "ErrorEquals": [ "States.TaskFailed" ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "End": true
    },
    "HandleFailure": {
      "Type": "Fail",
      "Cause": "Pipeline failed.",
      "Error": "PipelineFailed"
    }
  }
}